#grad1 {
    position: relative;
    height: 500px;
    background-color: rgb(209, 14, 14); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(209, 14, 14) , rgb(19, 19, 18));
  }
  #transparent{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    font-size: 750%;
    color: #4e1616; /* Grey text */
    /* border: 2px solid rgb(19, 19, 18); */
    width: 100%; /* Full width */
    padding-left: 50px; /* Some padding */
    padding-top: 130px;
  }
  h1{
    font-size: 250%;
  }